# Build output
bin/

# IDE
.project
.settings/
.externalToolBuilders/
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Release output
release/

# Developer key
developer_key.der
developer_key
